In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()
spark

In [5]:
from pyspark.sql.functions import sum
from pyspark.sql import SparkSession

# You've already initialized Spark, so we skip the SparkSession setup here

# CSV path
file_path = r"C:\Users\ssardana\OneDrive - Capgemini\Desktop\OneDrive_1_23-6-2025 (1)\Industry_Analysis_Src02.csv"

# Load CSV as DataFrame
df = spark.read.option("header", "true").option("inferSchema", "true").csv(file_path)

# Select relevant columns and cast employee count
ranked_df = df.select("Company Name", "No_Of_Emp") \
    .withColumn("No_Of_Emp", df["No_Of_Emp"].cast("int")) \
    .groupBy("Company Name") \
    .agg(sum("No_Of_Emp").alias("Total_Employees")) \
    .orderBy("Total_Employees", ascending=False)

# Display results
print("\n Company Ranking by Total Number of Employees:\n")
ranked_df.show(truncate=False)

 Company Ranking by Total Number of Employees:

+-----------------------------+---------------+
|Company Name                 |Total_Employees|
+-----------------------------+---------------+
|Bharat Petroleum Corp Ltd    |18955          |
|Reliance Infrastructure Ltd  |18910          |
|Geely Automobile Holdings Ltd|18900          |
|Ultrapar Holdings Inc.       |18900          |
|Hyundai Motor Co             |18900          |
|NHPC Ltd                     |18780          |
|Allied Properties (HK) Ltd.  |18780          |
|Arihant Foundations & Hou    |18760          |
|NextEra Energy Inc.          |18750          |
|Glaxo Smith                  |18750          |
|IBM                          |18750          |
|Tata Motors Limited          |18745          |
|General Motors Company       |18725          |
|Wipro Ltd                    |18710          |
|Ranbaxy                      |18690          |
|Dongfeng Motor Group Co Ltd  |18690          |
|GCL-Poly Energy              |18690          |
|Anna Infrastructures Ltd     |18690          |
|Renault SA                   |18685          |
|Ford Motor                   |18665          |
+-----------------------------+---------------+
only showing top 20 rows